*{
    font-family: NotoSansCJKtc;
    box-sizing: border-box;
    margin:0;
    max-width: 100%;
    max-height: 100%;
}

/*Header*/

.base{
    height: 50px;
    margin:1rem 1.5rem;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
}

.logoContainer{
    display: flex;
    justify-content: flex-start;
}

.logo {
    width:12rem;
    height:auto;
    margin: 0rem 2rem;
    object-fit: contain;
}


.iconContainer{
    display: flex;
    align-items: center;
}


.search{
    border: 1px solid #979797;
    border-radius: 1rem;
    height:0.5rem;
    width: 10rem;
    padding:1rem;
    margin:0 10px;
}




.nav{
    font-family: PingFangTC;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1rem;
    color: #3f3a3a;
    display: block;
    line-height:50px;
    text-decoration: none;
}

.Combined-Shape {
    width: 214px;
    height: 40px;
    padding: 6px 17px 6px 20px;
    border: solid 1px #979797;
}

.thankyou{
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:100px;
}


.cartBtn{
    width: 250px;
    height: 50px;
    margin: 50px 0;
    background-color: black;
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
    margin-left: auto;
    display: block;
} 

.footer{
    background-color:#313538;
    height:30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wrapper{
    position: relative;
    min-height: 100vh;
    padding:0 0 100px 0;
}